# Dependencies 
node_modules

# Database 
prisma/*.db
prisma/ERD.svg

# Environment
.env
.env.test
.env.dev
.env.prod

# Build
build

# Tools
debug.log

#Directories
coverage

# VSCode
/.vscode

# Temp files
nfe.js
testBucket.js